<h1>Home</h1>
<%= link_to "Добавить задачу", events_path %></br>
<%= link_to "Активные тачки", logins_path %></br>
<%= link_to "Ключи", hosts_path %></br>
<%= link_to "Сообщения", messages_path %></br>
